.containerResultAge {
  margin-top: 1.25rem;
}

.containerResultAge p {
  display: flex;
  gap: 0.5rem;
  font-style: italic;
  font-weight: 800;
  font-size: 6.4375rem;
  line-height: 7.0625rem;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.containerResultAge p span {
  color: var(--color-purple);
}

@media (max-width: 768px) {
  .containerResultAge p {
    font-size: 3.5rem;
    line-height: 3.85rem;
  }
}
