:root {
	--color-black: #151515;
	--color-purple: #854dff;
	--color-white: #ffffff;
	--color-light-grey: #f0f0f0;
	--color-grey: #716f6f;
	--color-line: #dbdbdb;
	--color-red: #ff5959;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-light-grey);
}