:root {
	--color-black: #151515;
	--color-purple: #854dff;
	--color-white: #ffffff;
	--color-light-grey: #f0f0f0;
	--color-grey: #716f6f;
	--color-line: #dbdbdb;
	--color-red: #ff5959;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body , input{
	font-family: 'Poppins', sans-serif;
}

body {
  background: var(--color-light-grey);
}